html
    head
        title='Welcome to CasvenApi - Zeta'
        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    body
        div.container
            div.jumbotron
                p Click the button below to head over to casven...
                p
                    a.btn.btn-primary(href="http://www.casven.com") Casven
                p